apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: {{deploymentname}}
  namespace: {{namespace}}
spec:
  replicas: {{replicas}}
  selector:
    matchLabels:
      {{selector}}: {{selectorname}}
{%- if rolling == true %}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
{%- endif %}
  revisionHistoryLimit: 1
  template:
    metadata:
      labels:
        {{selector}}: {{selectorname}}
    spec:
      containers:
      - name: {{containername}}
        image: {{image}}
        imagePullPolicy: Always
{%- if env_vars %}
        env:
{%- for key in env_vars %}
        - name: {{key}}
          value: "{{env_vars[key]}}"
{%- endfor %}
{%- endif %}